mat-button-toggle-group {
  box-shadow: none;
}

mat-button-toggle {
    border: 1px rgba(0,0,0,0) solid !important;
    margin-top: 5px !important;
    padding: 0 0px !important;
    color: white;
    background-color: transparent !important;
    border: 1px #fff solid !important;
    height: 40px;
    width: 150px;
    border-radius: 5px !important;
}

mat-button-toggle:hover {
    border: 1px #000 solid !important;
    background-color: rgb(80,52,247) !important;
    border-radius: 5px !important;
    color: white;
}

.mat-button-toggle-checked {
	  box-shadow: 0 0 30px #000 !important;
    border: 0px #000 solid !important;
    border-radius: 5px !important;
    background-color: rgb(80,52,247) !important;
    height: 40px;
    color: white;
}

.mat-button-toggle-input {
    background-color: none !important;
    padding-left: 32px !important;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
