<header>
    <div class="container">
        <div class="row">
            <div class="pull-left">

              <mat-button-toggle-group name="status" aria-label="Status" [(ngModel)]="activeTab" (ngModelChange)="changeActiveTab()">
              <mat-button-toggle value="tab1">Tab 1</mat-button-toggle>
              <mat-button-toggle value="tab2" style="margin-left:50px">Tab 2</mat-button-toggle>
            </mat-button-toggle-group>
                <!-- <button mat-raised-button [color]="activeTab=='tab1'?'primary':''"
                    (click)='changeActiveTab("tab1");'>Tab
                    1</button>
                <button mat-raised-button [color]="activeTab=='tab1'?'transparent':'primary'"
                    (click)='changeActiveTab("tab2");'>Tab
                    2</button> -->
            </div>
            <div class="pull-right">
                <a href="#" class="btn" style="color:white">
                    <mat-icon role="img" class="mat-icon notranslate material-icons" aria-hidden="true">
                        open_in_new</mat-icon>
                </a>
                <a class="btn" (click)="openDialog()">
                    <mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color"
                        aria-hidden="true">
                        assessment</mat-icon>
                </a>
                <a href="#" class="btn">
                    <mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color"
                        aria-hidden="true">
                        zoom_out_map</mat-icon>
                </a>
            </div>
        </div>
    </div>
</header>
