<div class="container" style="margin-left:100px;margin-right:100px;">
<h1 style="margin-left:20px;">Tab 2</h1>
    <mat-form-field>
        <mat-select [formControl]="charts" multiple (closed)="closed()">
          <div id="input_container">
            <img src="../../assets/search.png" id="input_img"/>
          <input id="input" style="margin-left:30px;margin-top:20px;border:none;" [(ngModel)]="filterText" placeholder ="search "  (keyup)="onKey($event.target.value)" (keydown)="handleInput($event)">

          </div>
            <mat-option *ngFor="let chart of chartsList" [value]="chart">{{chart}}</mat-option>
            </mat-select>
    </mat-form-field>
    <app-tab2chart selectedCharts={{charts.value}}></app-tab2chart>
</div>
