<div class="container" >
  <h1 style="margin-left:110px;">Tab 1</h1>
  <div class="row" style="margin-left:1170px;">
  <button id="apply" *ngIf="isZoomed" style="width:100px;background-color:#90908A;border: none;color: white;padding: 5px 10px;text-align: center;text-decoration: none;display: inline-block;font-size: 12px;cursor: pointer;"
    (click)='restoredefault()' >Reset</button>
    </div>
    <div class="row" style="margin-left:100px;margin-right:100px;">
        <mat-form-field>
            <mat-select [formControl]="charts" multiple (closed)="closed()" (selectionChange)="changed()" #chartselect>
              <div id="input_container">
                <img src="../../assets/search.png" id="input_img"/>
                <input style="margin-left:30px;margin-top:20px;border:none;" [(ngModel)]="filterText" placeholder ="search " (keyup)="onKey($event.target.value)" (keydown)="handleInput($event)">
                </div>

                <mat-option *ngFor="let chart of chartsList" [value]="chart">{{chart}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-slide-toggle class="example-margin" [(ngModel)]="toggle1" *ngIf="!splchart" (change)="onToggle1($event)">
            Toggle 1
        </mat-slide-toggle>
        <mat-slide-toggle class="example-margin" [(ngModel)]="toggle2" *ngIf="!splchart" (change)="onToggle2($event)">
            Toggle 2
        </mat-slide-toggle>
        <mat-slide-toggle class="example-margin" [(ngModel)]="toggle3" *ngIf="!splchart" (change)="onToggle3($event)">
            Toggle 3
        </mat-slide-toggle>
        <mat-slide-toggle class="example-margin" [(ngModel)]="toggle4" *ngIf="!splchart" (change)="onToggle4($event)">
            Toggle 4
        </mat-slide-toggle>
        <mat-slide-toggle class="example-margin" color="white" [(ngModel)]="toggle5" *ngIf="!splchart && chartB" (change)="onToggle5($event)">
            Toggle 5
        </mat-slide-toggle>


    </div>

    <app-tab1chart [hidden]="splchart" *ngFor="let chart of mySelections" [chart]="chart" ></app-tab1chart>
    <app-tab1specialchart *ngIf="splchart"> </app-tab1specialchart>

    <div class="row" *ngIf="toggle1 && !splchart">
        <mat-accordion>
            <mat-expansion-panel [expanded]="toggle1" disabled="true">
                <app-toggle1chart></app-toggle1chart>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div class="row" *ngIf="toggle2 && !splchart">
        <mat-accordion>
            <mat-expansion-panel [expanded]="toggle2" disabled="true">
                <app-toggle2chart></app-toggle2chart>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div class="row" *ngIf="toggle3 && !splchart">
        <mat-accordion >
            <mat-expansion-panel [expanded]="toggle3" disabled="true" >
                <app-toggle3chart></app-toggle3chart>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div class="row" *ngIf="!splchart">
        <mat-accordion>
            <mat-expansion-panel [expanded]="toggle4" disabled="true">
                <app-toggle4chart></app-toggle4chart>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div class="row" *ngIf="!splchart">
        <mat-accordion>
            <mat-expansion-panel [expanded]="toggle5" disabled="true">
                <app-toggle5chart></app-toggle5chart>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
